<h1>New candidate</h1>

<%= form_with scope: :candidate, url: candidates_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :surname %><br>
    <%= form.text_field :surname %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
